@page "/"
@* Prevents from rendering twice on client and server. *@
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>Lobby</h3>

<input @bind="playerName" placeholder="Your Name"/>
<input @bind="currentRoomName" placeholder="Room Name" />
<button @onclick="CreateRoom">Create Room</button>

